{% extends 'base.html' %}

{% block content %}

<div class="row">

<div class="col-md-6">

<div class="card shadow">

<div class="card-body">

<h3>Contact Us</h3>

<hr>

<p><strong>Company</strong><br>
Impulse Facility Management Pvt Ltd</p>

<p><strong>Email</strong><br>
impulsefacilitymanagement@gmail.com</p>

<p><strong>Phone</strong><br>
+91 xxxxxxxxxx</p>

<p><strong>Address</strong><br>
Pune, Maharashtra</p>

</div>

</div>

</div>

<div class="col-md-6">

<div class="card shadow">

<div class="card-body">

<h3>Office Hours</h3>

<hr>

Monday - Saturday

<br><br>

09:00 AM - 06:00 PM

<br><br>

Sunday Closed

</div>

</div>

</div>

</div>

{% endblock %}